/********** MOBILE*********/

@media (min-width: 320px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 50px;
        background-color: rgb(22, 97, 72);
    }

    .footer-box-1,
    .footer-box-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mi-logo-footer {
        width: 35vw;
        height: auto;
        border-radius: 50%;
    }


    /* formulario */

    #footer-contact-form {
        display: flex;
        flex-direction: column;
        width: 75vw;
        gap: 8px;
    }

    #name,
    #email,
    #message {
        border: 1px solid white;
        height: 40px;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-size: 16px;
        background-color: transparent;
        transition: 1s;
    }

    #message {
        height: 70px;
    }

    #name:focus,
    #email:focus,
    #message:focus {
        background-color: #212121;
        color: white;
        outline-color: rgb(0, 255, 255);
        box-shadow: -3px -3px 15px rgb(0, 255, 255);
        transition-property: box-shadow;
    }

    #footer-form-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10px;
    }

    #submit,
    #clean {
        background-color: #212121;
        border-radius: 3px;
        color: white;
        height: 30px;
        width: 100px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.5s;
    }

    #submit:active,
    #clean:active {
        box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        transform: translateY(4px);
    }

    #submit:hover,
    #clean:hover {
        background-color: rgb(158, 158, 158);
        color: black;
    }


    /* redes */

    .footer-redes {
        display: flex;
        flex-direction: row;
        padding: 40px 0px 30px 0px;
    }

    .p-follow {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        padding-right: 12px;
    }

    .footer-redes-icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 20px;
        padding-bottom: 20px;
    }



    /* nav */

    h4 {
        padding-bottom: 8px;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        font-size: 16px;
    }

    .footer-nav-li ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer-nav-li a {
        color: black;
        transition: color 0.3s;
    }

    .footer-nav-li a:hover {
        color: white;
    }

    .footer-contact-div {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .footer-redes-icons i,
    .p-follow {
        color: white;
    }

    .p-copyright {
        width: 80vw;
        text-align: center;
    }
}

@media (min-width: 500px) {

    .footer-redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

}



/************* tablets *************/

@media (min-width: 768px) {

    .mi-logo-footer {
        width: 25vw;
    }

    .footer-redes {
        padding: 50px 0px 20px 0px;
    }

    /* formulario */

    #footer-contact-form {
        padding-top: 20px;
    }

    .p-copyright {
        width: 100%;
        text-align: center;
    }
}



/************* desktop *************/

@media (min-width: 1024px) {

    footer {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .footer-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .mi-logo-footer {
        width: 20vw;
        padding-right: 10px;
    }

    .footer-box-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }

    .footer-box-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
    }

    /* formulario */

    #footer-contact-form {
        width: 30vw;
        padding-left: 20px;
    }

    #submit,
    #clean {
        width: 80px;
    }

    /* redes */

    .footer-redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        display: flex;
        gap: 20px;
    }

    .p-copyright {
        width: 100%;
        text-align: end;
        padding: 0;
    }


}